<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="/control">
<h1>Enter The Student Marks</h1>
<label>Name: </label>
<input type=text name="name">
<br>
<label>Telugu: </label>
<input type=number name="t" required="required">
<br>
<label>Hindi: </label>
<input type=number name="h" required="required">

<br>
<label>English: </label>
<input type=number name="e" required="required">
<br>
<label>Maths: </label>
<input type=number name="m" required="required">
<br>
<label>Science: </label>
<input type=number name="s" required="required"><br>
<input type=submit value="Check Percentage">
</form>
</body>
</html>